/** @format */

#nr_wrapper {
   display: grid;
   margin: 20px;
   grid-template-areas:
      "title title title"
      "name name name"
      "category tags tags"
      "descr descr descr"
      "sectIngredients sectIngredients sectIngredients"
      "ingredients ingredients ingredients"
      "sectSteps sectSteps sectSteps"
      "steps steps steps"
      ". submit .";
   column-gap: 20px;
   row-gap: 16px;
   grid-template-columns: 1fr 1fr 1fr;
}

#nr_wrapper > h3 {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   border-bottom: 3px solid var(--secondary-color);
   color: var(--text-color);
   margin: 5px;
}

#nr_title {
   grid-area: title;
   width: 100%;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   color: var(--title-color);
   background-color: var(--secondary-color);
   margin: 0px;
   border-radius: 5px;
   box-sizing: border-box;
   padding: 20px;
}

#nr_title > h2 {
   margin: 0px;
}

#nr_title_field {
   grid-area: name;
   width: 100%;
}

#nr_category_field {
   grid-area: category;
}
#nr_tags_field {
   grid-area: tags;
}

#nr_description_field {
   grid-area: descr;
   height: 200px;
}

.nr_input {
   height: 70px;
   border: 2px solid var(--secondary-color);
   border-radius: 5px;
   box-sizing: border-box;
}
.nr_input:focus-within > .nr_input_title,
.nr_input:hover > .nr_input_title {
   font-size: 16px;
}

.nr_input_field {
   margin: 0px 16px;
   width: 100%;
}
.nr_input_field > * {
   width: calc(100% - 36px);
   height: 30px;
   outline: none;
   border: none;
   font-size: 20px;
   color: var(--text-color);
}
.nr_input_field > *:focus {
   border-bottom: 1px solid var(--secondary-color);
}

.nr_input_title {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   height: 16px;
   margin: 7px 10px;
   font-size: 0px;
   transition: 200ms;
   padding-left: 8px;
}

.nr_input_select {
   display: flex;
   width: 100%;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
   padding: 0px 5px;
   box-sizing: border-box;
}

.nr_tag {
   border: 2px solid var(--primary-color);
   width: 100%;
   margin: 0px 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   border-radius: 5px;
   background-color: var(--primary-color);
   color: var(--title-color);
}
.nr_tag > p {
   margin: 0px;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   user-select: none;
}

.nr_tag:hover {
   background-color: var(--background-color);
   border-color: var(--secondary-color);
   color: var(--secondary-color);
   cursor: pointer;
}

.nr_tag_selected {
   color: var(--title-color);
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
}

.nr_input_selection {
   display: none;
   visibility: hidden;
}

#nr_section_ingredients {
   grid-area: sectIngredients;
}

#nr_section_steps {
   grid-area: sectSteps;
}

#nr_description {
   height: min-content;
   resize: none;
}

#nr_ingredient_table {
   display: flex;
   flex-flow: column nowrap;
   grid-area: ingredients;
   width: 70%;
   margin: 0px auto;
   border: 2px solid var(--secondary-color);
   border-radius: 5px;
}
#nr_ingredient_row_template {
   display: none;
   visibility: hidden;
}

.nr_ingredient_row {
   width: 100%;
   height: 40px;
   border-bottom: 2px solid var(--secondary-color);
   display: grid;
   column-gap: 2px;
   grid-template-columns: 40px 2fr 1fr 1fr;
}

.nr_ingredient_row:last-child {
   border: none;
}

#nr_ingredient_header > div {
   background-color: var(--secondary-color);
   color: var(--title-color);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
}

.nr_ingredient_row_addrow {
   display: flex;
   align-items: center;
   justify-content: center;
}
.nr_ingredient_row:last-child > .nr_ingredient_row_addrow > p {
   display: block;
   visibility: visible;
}

.nr_ingredient_row > * {
   background-color: var(--greyE);
}

.nr_ingredient_row:nth-child(2n) > * {
   background-color: var(--greyD);
}

.nr_ingredient_row_addrow > p {
   padding: 0px 11px;
   border-radius: 5px;
   font-size: 30px;
   background-color: var(--primary-color);
   color: var(--title-color);
   margin: 0px;
   user-select: none;
   transition: 200ms;
   display: none;
   visibility: hidden;
}

.nr_ingredient_row_addrow > p:hover {
   background-color: var(--secondary-color);
   cursor: pointer;
}

.nr_ingredient_row_name > *,
.nr_ingredient_row_quantity > *,
.nr_ingredient_row_unit > * {
   width: 100%;
   font-size: 16px;
   color: var(--text-color);
   outline: none;
   border: none;
   height: 35px;
   padding-left: 10px;
   background-color: #00000000;
}

.nr_ingredient_row_name > *:focus,
.nr_ingredient_row_quantity > *:focus,
.nr_ingredient_row_unit > *:focus {
   border-bottom: 2px solid var(--secondary-color);
}

#nr_step_navbar_left > svg,
#nr_step_navbar_right > svg,
#nr_step_navbar_create > svg {
   width: 35px;
   color: var(--title-color);
   cursor: pointer;
}
#nr_step_navbar_step_number {
   user-select: none;
   color: var(--title-color);
   font-size: 18px;
}

#nr_steps {
   grid-area: steps;
}
#nr_step_navbar {
   height: 50px;
   width: 100%;
   border: 2px solid var(--secondary-color);
   border-radius: 5px;
   display: grid;
   grid-template-columns: 50px auto 50px 50px;
   column-gap: 2px;
   margin-bottom: 16px;
}

#nr_step_navbar > div {
   background-color: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: center;
}

.nr_input_steps {
   height: 250px;
}

.nr_textarea_lock {
   resize: none;
   height: 210px;
}

#nr_submit {
   grid-area: submit;
   width: 100%;
   height: 40px;
   font-size: 20px;
   color: var(--title-color);
   background-color: var(--secondary-color);
   border-radius: 20px;
   transition: 100ms;
   border: none;
   outline: none;
}
#nr_submit:hover {
   background-color: var(--primary-color);
}
