/** @format */

#nr_wrapper {
	display: grid;
	margin: 20px;
	grid-template-areas:
		"title title title"
		"name name name"
		"category tags tags"
		"sectIngredients sectIngredients sectIngredients"
		"ingredients ingredients ingredients"
		"sectSteps sectSteps sectSteps"
		"steps steps steps";
	column-gap: 20px;
	row-gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
}

#nr_title {
	grid-area: title;
	width: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--title-color);
	background-color: var(--secondary-color);
	margin: 0px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 20px;
}

#nr_title > h2 {
	margin: 0px;
}

#nr_title_field {
	grid-area: name;
	width: 100%;
}

#nr_category_field {
	grid-area: category;
}
#nr_tags_field {
	grid-area: tags;
}

.nr_input {
	height: 70px;
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
}
.nr_input:focus-within > .nr_input_title {
	font-size: 16px;
}

.nr_input_field {
	margin: 0px 16px;
	width: 100%;
}
.nr_input_field > * {
	width: calc(100% - 36px);
	height: 30px;
	outline: none;
	border: none;
	font-size: 20px;
	color: var(--text-color);
}
.nr_input_field > *:focus {
	border-bottom: 1px solid var(--secondary-color);
}

.nr_input_title {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 16px;
	margin: 5px 10px;
	font-size: 0px;
	transition: 200ms;
	padding-left: 8px;
}
